.first-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color:var(--color-black);
}

.intro__heading {
	margin-top:130px;
	font-size:4.9em;
	font-family: Raleway,sans-serif;
}

.intro__paragraph {
	font-size:1.6em;
	margin: 22px 0 38px;
}
.special-btn {
	display: inline-block;
	padding: 22px 70px;
	font-weight: 700;
	color: var(--color-white);
	background-color: var(--color-primary);
	border-radius: var(--radius-main-btn);
	-webkit-box-shadow: 3px 10px 14px var(--color-primary-shadow);
	box-shadow: 3px 10px 14px var(--color-primary-shadow);
	border: none;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transition-property: padding, font-size;
	-o-transition-property: padding, font-size;
	transition-property: padding, font-size;
}

.special-btn:hover {
	padding: 22px 155px;
	font-size:1.8em;
}
.intro-img {
	width: 100%;
	height: auto;
}