@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');
*{
	box-sizing: border-box;
}

html {
	--color-primary: #08a6e4;
	--color-primary-shadow: rgba(7, 172, 230, 0.16);
	--color-redish: #fb3b64;
	--color-green: #55dfb4;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #a5a5a5;
	--color-light-grey: #f7f7f7;
	--radius-main-btn:40px;
	--feature-box-radius:5px;
	--pricing-box-radius:18px;
	--pricing-btn-radius:23px;
	--forms-btn-radius:35px;
}

body{
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}
.container {
	margin: 0 auto;
	max-width: 1356px;
	width: 100%;
}